@import "tailwindcss";
@import "@fontsource/poppins/index.css";


@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-test-bg: #A3A3A3;
  --color-test-surface: #1e1e1e;

  
  
}

@layer base {
  body {
    @apply font-poppins;
    font-weight: 400;
  }
}